.env
data/*
logs/*
**/__pycache__/
.venv
images/*
.pytest_cache/
.mypy_cache/
.ruff_cache/
.DS_Store

*.app
*.exe
*.war

# Large media files
*.mp4
*.mp3
*.wav
*.ogg
*.flac
*.tiff
*.avi
*.flv
*.mov
*.wmv